<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>MANTIS | CULINÁRIA CHINESA</title>

<link rel="icon" href="/imagens/icon.png" type="image/x-icon" />
<link rel="shortcut icon" href="/imagens/icon.png" type="image/x-icon" />

<!-- Estilo do site -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/css/bootstrap.min.css">
	
<!-- Fonte do site -->
<link href="https://fonts.googleapis.com/css?family=Varela+Round"
	rel="stylesheet">

<!-- Icons para a barra de navegação -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

	<!-- Barra de navegação -->

	<div class="navebar">
		<nav class="navebar-header">
			<a href="/cardapio"><i class="fas fa-utensils"></i> Cardápio</a> <a
				href="/sobre"><i class="fas fa-store"></i> Sobre</a> <a
				href="/contato"><i class="fa fa-envelope"></i> Contato</a> <a
				href="/home"><img src="/imagens/logo.png" alt
				class="logo-mobile"></a> <a href="#"><i class="far fa-clock"></i> <span>Aberto
					até às 23h</span></a> <a href="/entrar"><i
				class="fa fa-fw fa-user"></i> Meus Pedidos</a> <a href="/carrinho"
				class="carrinho"><i class="fas fa-shopping-cart"></i></a>
		</nav>
	</div>

	<div class="login">
		<form action="/entrar/meus-dados/usuario-cadastrado" method="POST"
			class="login-form needs-validation" novalidate>

			<h4 class="login-titulo">MEUS DADOS</h4>
			<br>
			<div class="form-box">
				<div class="form-box-label">Nome</div>
				<input type="text" name="nome" id="nome"
					class="form-input form-control" required>
				<div class="valid-feedback"></div>
				<div class="invalid-feedback">Nome é obrigatório</div>
			</div>

			<div class="form-box">
				<div class="form-box-label">CPF</div>
				<input type="text" name="cpf" id="cpf"
					class="form-input form-control" pattern="(?=.*\d).{14,}" required>
				<div class="valid-feedback">CPF válido!</div>
				<div class="invalid-feedback">CPF é obrigatório</div>
			</div>

			<div class="form-box">
				<div class="form-box-label">Aniversário</div>
				<input type="date" name="aniver" id="aniver"
					class="form-input form-control" required>
				<div class="valid-feedback"></div>
				<div class="invalid-feedback">Data de nascimento é obrigatório</div>
			</div>

			<div class="form-box">
				<hr>
			</div>

			<div class="form-box">
				<div class="form-box-label">Estado</div>
				<select name="estado" id="estado" required>
					<option value="AC">AC - Acre</option>
					<option value="AL">AL - Alagoas</option>
					<option value="AP">AP - Amapá</option>
					<option value="AM">AM - Amazonas</option>
					<option value="BA">BA - Bahia</option>
					<option value="CE">CE - Ceará</option>
					<option value="DF">DF - Distrito Federal</option>
					<option value="ES">ES - Espírito Santo</option>
					<option value="GO">GO - Goiás</option>
					<option value="MA">MA - Maranhão</option>
					<option value="MT">MT - Mato Grosso</option>
					<option value="MS">MS - Mato Grosso do Sul</option>
					<option value="MG">MG - Minas Gerais</option>
					<option value="PA">PA - Pará</option>
					<option value="PB">PB - Paraíba</option>
					<option value="PR">PR - Paraná</option>
					<option value="PE">PE - Pernambuco</option>
					<option value="PI">PI - Piauí</option>
					<option value="RJ">RJ - Rio de Janeiro</option>
					<option value="RN">RN - Rio Grande do Norte</option>
					<option value="RS">RS - Rio Grande do Sul</option>
					<option value="RO">RO - Rondônia</option>
					<option value="RR">RR - Roraima</option>
					<option value="SC">SC - Santa Catarina</option>
					<option value="SP">SP - São Paulo</option>
					<option value="SE">SE - Sergipe</option>
					<option value="TO">TO - Tocantis</option>
				</select>
			</div>

			<div class="form-box-login-2">
				<div class="form-box-label-login">Cidade</div>
				<input type="text" id="cidade" name="cidade"
					class="form-input-login-2 form-control" required>
				<div class="valid-feedback"></div>
				<div class="invalid-feedback">Cidade é obrigatório</div>
			</div>

			<div class="form-box-login">
				<div class="form-box-label-login">CEP</div>
				<input type="text" id="cep" name="cep"
					class="form-input-login form-control" pattern="(?=.*\d).{9,}" required>
				<div class="valid-feedback">CEP válido!</div>
				<div class="invalid-feedback">CEP é obrigatório</div>
			</div>

			<div class="form-box">
				<div class="form-box-label">Endereço</div>
				<input type="text" id="endereco" name=endereco
					class="form-input form-control" required>
				<div class="valid-feedback"></div>
				<div class="invalid-feedback">Endereço é obrigatório</div>
			</div>

			<div class="form-box-login-3">
				<div class="form-box-label-login">Número</div>
				<input type="number" id="numero" name="numero"
					class="form-input-login-3 form-control" required>
				<div class="valid-feedback"></div>
				<div class="invalid-feedback">Número da sua casa é obrigatório</div>
			</div>

			<div class="form-box-login-4">
				<div class="form-box-label-login">Bairro</div>
				<input type="text" id="bairro" name="bairro"
					class="form-input-login-4 form-control" required>
				<div class="valid-feedback"></div>
				<div class="invalid-feedback">Bairro é obrigatório</div>
			</div>

			<div class="form-box">
				<div class="form-box-label">Apto, bloco, etc.</div>
				<input type="text" id="complemento" name="complemento"
					class="form-input form-control" required>
				<div class="valid-feedback"></div>
				<div class="invalid-feedback">Complemento é obrigatório</div>
			</div>

			<div class="form-box">
				<div class="form-box-label">Ponto de referência</div>
				<input type="text" id="referencia" name="referencia"
					class="form-input">
			</div>

			<div class="form-box">
				<hr>
			</div>

			<div class="form-box">
				<div class="form-box-label">E-mail</div>
				<input type="email" id="email" name="email"
					class="form-input form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
				<div class="valid-feedback">E-mail válido!</div>
				<div class="invalid-feedback">E-mail é obrigatório</div>
			</div>

			<div class="form-box">
				<div class="form-box-label">Senha</div>
				<input type="password" id="senha" name="senha"
					pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
					class="form-input form-control" required>
				<div class="valid-feedback">Senha válida!</div>
				<div class="invalid-feedback">Senha é obrigatória</div>
				<div id="message">
					<p id="letter" class="invalid">
						Letra minúscula
					</p>
					<p id="capital" class="invalid">
						Letra maiúscula
					</p>
					<p id="number" class="invalid">
						Número
					</p>
					<p id="length" class="invalid">
						Mínimo de 8 caracteres
					</p>
				</div>
			</div>

			<div class="form-box">
				<hr>
			</div>
				
			<p class="politica">
				Ao criar uma conta, você concorda com nossa <a href="#">Política
					de Privacidade</a>.
			</p>

			<div class="form-box">
				<input type="submit" value="Cadastrar">
			</div>

			<div class="form-box">
				<div class="signin">
					<p>
						Já possui uma conta? <br> <a href="/entrar">Faça seu
							login</a>.
					</p>
				</div>
			</div>
		</form>
	</div>

	<!-- Rodapé -->

	<footer class="rodape">
		<ul>
			<li><i class="rodape-item-1 fab fa-whatsapp"></i> (88)
				9.9287-1532 <i class="rodape-item-2 fas fa-calendar-day"></i>
				Fundado em: Abril de 2008. <i
				class="rodape-item-3 fas fa-map-marker-alt"></i> Universidade
				Federal do Ceará.</li>
			<li><i class="rodape-item-1 fas fa-file-code"></i> Powered by:
				Bárbara Stéph. Neves.</li>
			<li class="rodape-content"><i class="rodape-content"></i>2019 ©
				Todos os direitos reservados.</li>
		</ul>
	</footer>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#cpf").mask('000.000.000-00', {
				reverse : false
			});

			$("#cep").mask('00000-000', {
				reverse : false
			});
		});
	</script>

	<script>
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						var forms = document
								.getElementsByClassName('needs-validation');

						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>

	<script>
		var myInput = document.getElementById("senha");
		var letter = document.getElementById("letter");
		var capital = document.getElementById("capital");
		var number = document.getElementById("number");
		var length = document.getElementById("length");

		myInput.onfocus = function() {
			document.getElementById("message").style.display = "block";
		}
		
		myInput.onblur = function() {
			document.getElementById("message").style.display = "none";
		}

		myInput.onkeyup = function() {
			var lowerCaseLetters = /[a-z]/g;
			if (myInput.value.match(lowerCaseLetters)) {
				letter.classList.remove("invalid");
				letter.classList.add("valid");
			} else {
				letter.classList.remove("valid");
				letter.classList.add("invalid");
			}

			var upperCaseLetters = /[A-Z]/g;
			if (myInput.value.match(upperCaseLetters)) {
				capital.classList.remove("invalid");
				capital.classList.add("valid");
			} else {
				capital.classList.remove("valid");
				capital.classList.add("invalid");
			}

			var numbers = /[0-9]/g;
			if (myInput.value.match(numbers)) {
				number.classList.remove("invalid");
				number.classList.add("valid");
			} else {
				number.classList.remove("valid");
				number.classList.add("invalid");
			}

			if (myInput.value.length >= 8) {
				length.classList.remove("invalid");
				length.classList.add("valid");
			} else {
				length.classList.remove("valid");
				length.classList.add("invalid");
			}
		}
	</script>
</body>
</html>