<!DOCTYPE html>
<html lang="pt-br"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>MANTIS | CULINÁRIA CHINESA</title>

<link rel="icon" href="/imagens/icon.png" type="image/x-icon" />
<link rel="shortcut icon" href="/imagens/icon.png" type="image/x-icon" />

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/style.css">

<link href="https://fonts.googleapis.com/css?family=Varela+Round"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="navebar">
		<div class="navebar-header">
			<a href="/area-gerente/cardapio"><i class="fas fa-utensils"></i>
				Cardápio</a> <a href="/area-gerente/cadastrar-pratos"><i
				class="fas fa-clipboard-list"></i></i> Cadastrar Pratos</a> <a><img
				src="/imagens/logo.png" alt class="logo-mobile"></a> <a href="#"><i
				class="fa fa-fw fa-user"></i> Olá, gerente!</a> <a href="/logout"
				class="drop-down"><i class="fas fa-sign-out-alt"></i></i> Sair</a>
		</div>
	</div>

	<div class="horario">
		<span class="horario-funcionamento"> <span class="relogio-icon">
				<i class="fas fa-user-cog"></i>
		</span> <span class="horarios">
				<h3 style="font-family: 'Varela Round', sans-serif !important;">Gerente
					do restaurante</h3>
				<p>Responsável por cadastrar e remover pratos</p>
		</span>
		</span>
	</div>

	<div class="container">
		<div class="menu">
			<div class="menu-nav" style="margin-right: 30px;">
				<ul th:each="prato : ${cardapio}" th:if="${prato.preco} == 10.00">
					<li><a th:href="@{/cardapio/entradas}" class="menu-links" th:classappend="${prato.tipo} == 'Entradas' ? active">Entradas</a>
					</li>
					<li><a th:href="@{/cardapio/frango}" class="menu-links" th:classappend="${prato.tipo} == 'Frango' ? active">Frango</a>
					</li>
					<li><a th:href="@{/cardapio/carne}" class="menu-links" th:classappend="${prato.tipo} == 'Carne' ? active">Carne</a></li>
					<li><a th:href="@{/cardapio/peixes-e-camaroes}" class="menu-links" th:classappend="${prato.tipo} == 'Peixes' ? active">Peixes
							e Camarões</a></li>
					<li><a th:href="@{/cardapio/macarroes-e-arroz}" class="menu-links" th:classappend="${prato.tipo} == 'Macarroes' ? active">Macarrões
							e Arroz</a></li>
					<li><a th:href="@{/cardapio/sopas}" class="menu-links" th:classappend="${prato.tipo} == 'Sopas' ? active">Sopas</a></li>
					<li><a th:href="@{/cardapio/sobremesas}" class="menu-links" th:classappend="${prato.tipo} == 'Sobremesas' ? active">Sobremesas</a>
					</li>
					<li class="menu-search"><input type="text"
						placeholder="Pesquisar... " id="pesquisaProdutos"> <!--<i class="fas fa-search"></i>-->
					</li>
				</ul>
			</div>
		</div>

		<span class="cardapio-titulo"> Cardápio: Culinária Chinesa </span>
	</div>

	<div class="row">
		<div class="galeria" th:each="prato : ${cardapio}">
			<a target="_blank"> <img th:src="@{'/imagens/'+${prato.nome}+.png}">
			</a>
			<div class="avatar">
				<a th:href="@{/area-gerente/excluir-prato/{id}(id = ${prato.id})}">
					<button type="submit" title="Excluir prato">
						<i class="fas fa-trash-alt"></i>
					</button>
				</a>
			</div>
			<div class="titulo" th:text="${prato.nome}"></div>
			<div class="desc" th:text="${prato.descricao}"></div>
			<div class="preco">
				<div class="desc-preco"><span th:text="${'R$ ' + prato.preco}"></span></div>
				 <a
					th:href="@{/area-gerente/editar-prato/{id}(id = ${prato.id})}" style="text-decoration: none;">
					<button type="submit" title="Editar prato">
						<i class="fas fa-edit"></i> Editar
					</button>
				</a>
			</div>
		</div>
	</div>

	<footer class="rodape">
		<ul>
			<li><i class="rodape-item-1 fab fa-whatsapp"></i> (88)
				9.9287-1532 <i class="rodape-item-2 fas fa-calendar-day"></i>
				Fundado em: Abril de 2008. <i
				class="rodape-item-3 fas fa-map-marker-alt"></i> Universidade
				Federal do Ceará.</li>
			<li><i class="rodape-item-1 fas fa-file-code"></i> Powered by:
				Bárbara Stéph. Neves.</li>
			<li class="rodape-content"><i class="rodape-content"></i>2019 ©
				Todos os direitos reservados.</li>
		</ul>
	</footer>

</body>

</html>