<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>MANTIS | CULINÁRIA CHINESA</title>

<link rel="icon" href="/imagens/icon.png" type="image/x-icon" />
<link rel="shortcut icon" href="/imagens/icon.png" type="image/x-icon" />

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/style.css">

<link href="https://fonts.googleapis.com/css?family=Varela+Round"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="navebar">
		<div class="navebar-header">
			<a th:href="@{/cardapio}"><i class="fas fa-utensils"></i>
				Cardápio</a> <a th:href="@{/sobre}"><i class="fas fa-store"></i>
				Sobre</a> <a th:href="@{/contato}"><i class="fa fa-envelope"></i>
				Contato</a> <a th:href="@{/home}"><img src="/imagens/logo.png" alt
				class="logo-mobile"></a> <a href="#"><i class="far fa-clock"></i>
				<span>Aberto até às 23h</span></a> <a class="nav-link dropdown"
				data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
				aria-expanded="false"><i class="fa fa-fw fa-user"></i> Perfil</a>
			<div class="dropdown-menu" style="width: 15%; position: relative;">
				<a class="dropdown-item"
					style="text-transform: none; font-size: 14px; margin: 0; color: #333; cursor: pointer;"
					th:href="@{/meus-pedidos}"><i class="fas fa-receipt"></i> Meus
					pedidos</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item"
					style="text-transform: none; font-size: 14px; margin: 0; color: #333; cursor: pointer;"
					th:href="@{/meus-dados/editar/{id}}"><i class="fas fa-cog"></i>
					Editar meus dados</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item"
					style="text-transform: none; font-size: 14px; margin: 0; color: #333; cursor: pointer;"
					th:href="@{/#}"><i class="fas fa-sign-out-alt"></i> Sair</a>
			</div>
			<a th:href="@{/carrinho}" class="carrinho"> <i
				class="fas fa-shopping-cart"></i> <span
				class="pd-header-nav-miniCart-count" th:text="${qtdItens}"></span>
			</a>
		</div>
	</div>

	<section class="section-pagina">
		<div class="section-pagina-header">
			<div class="section-container">
				<h1
					class="pd-title pd-title--center pd-title--h3 pd-title-background">Meu
					Pedido</h1>
			</div>
		</div>

		<div class="section-pagina-content">
			<div class="section-container">
				<section class="pd-c-cart">
					<div>
						<section class="pd-c-cart-container">
							<div class="pd-c-cart-list">
								<table>
									<thead>
										<tr class="pd-c-cart-list-header">
											<td>Itens</td>
											<td class="text-right" style="width: 150px;">Valor Unit.</td>
											<td class="text-right" style="width: 150px;">Quantidade</td>
											<td class="text-right">Valor Total</td>
											<td></td>
										</tr>
									</thead>
									<tbody>
										<tr class="pd-c-cart-list-item"
											th:each="i : ${#numbers.sequence(0, carrinho.size()-1)}">
											<td class="pd-c-cart-list-item-desc"><a target="_blank">
													<img
													th:src="@{'/imagens/'+${carrinho.get(i).getNomePrato()}+.png}">
											</a> <span class="pd-c-cart-list-item-desc-text"> <span
													class="pd-c-cart-list-item-title"
													th:text="${carrinho.get(i).getNomePrato()}"></span> <span></span>
													<div class="pd-c-cart-list-item-desc-text-obs">
														<div class="pd-c-ModalObsItem">
															<button type="button" title="Adicionar uma observação"
																class="pd-modal-obs-header-btn" data-toggle="modal"
																data-target="#modalComentario">
																<i class="far fa-comment"></i>
															</button>
															<!-- Modal 1 -->
															<div class="modal fade" id="modalComentario"
																tabindex="-1" role="dialog"
																aria-labelledby="modalComentarioTitulo"
																aria-hidden="true">
																<div class="modal-dialog modal-dialog-centered"
																	role="document">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h5 class="modal-title" id="modalComentarioTitulo">
																				<i class="far fa-comment"></i> Adicionar observação
																			</h5>
																			<button type="button" class="close"
																				data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																			</button>
																		</div>
																		<div class="modal-body">
																			<input autofocus="autofocus" type="text"
																				class="pd-modal-obs-field"> <span
																				class="pd-modal-obs-confirm"><i
																				class="fas fa-check-circle" style="font-size: 30px;"></i></span>
																		</div>
																		<div class="modal-footer"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
											</span></td>
											<td class="text-right pd-c-cart-item-valorUnit"><span
												th:text="${'R$ ' + carrinho.get(i).getPrecoUnit()}"
												id="valorUnit"></span></td>
											<td class="text-right"><span> <span
													class="form-spinner"> <span
														th:if="${carrinho.get(i).getQtd()} > 1"><a
															th:href="@{/carrinho/prato/diminuir-quantidade/{id}(id = ${carrinho.get(i).getId()})}"><span
																title="Diminuir quantidade" class="fs-btn fs-btn-minus">-</span></a></span>
														<span th:if="${carrinho.get(i).getQtd()} <= 1"><span
															title="Diminuir quantidade" class="fs-btn fs-btn-minus"
															data-toggle="modal" data-target="#modalExcluirPrato">-</span></span>
														<span class="fs-btn fs-input"
														th:text="${carrinho.get(i).getQtd()}"></span> <a
														th:href="@{/carrinho/prato/aumentar-quantidade/{id}(id = ${carrinho.get(i).getId()})}"><span
															title="Aumentar quantidade" class="fs-btn fs-btn-plus">+</span></a>
												</span>
											</span></td>
											<td class="text-right"><span
												th:text="${'R$ ' + carrinho.get(i).getPrecoTotal()}"
												id="precoTotal"></span></td>
											<td class="pd-c-cart-list-item-delete">
												<button type="submit" data-toggle="modal"
													data-target="#modalExcluirPrato"
													style="background-color: transparent; border-color: transparent; width: 0%; margin-right: -25px; margin-left: 5px; margin-top: 3px;">
													<span title="Excluir prato"
														class="pd-c-cart-list-item-delete-btn"><i
														class="fas fa-times-circle" style="font-size: 20px;"></i></span>
												</button> <!-- Modal 2 -->
												<div class="modal fade" id="modalExcluirPrato" tabindex="-1"
													role="dialog" aria-labelledby="modalExcluirPratoTitulo"
													aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered"
														role="document">
														<div class="modal-content">
															<div class="modal-header swal-icon swal-icon--warning">
																<span class="swal-icon--warning__body"> <span
																	class="swal-icon--warning__dot"></span>
																</span>
															</div>
															<div class="swal-text" id="modalExcluirPratoTitulo">Você
																deseja remover este item?</div>
															<div class="swal-footer">
																<div class="swal-button-container">
																	<a th:href="@{/carrinho}"><button
																			class="swal-button swal-button--cancel" tabindex="0">Cancelar</button></a>
																</div>
																<div class="swal-button-container">
																	<a
																		th:href="@{/carrinho/remover-prato/{id}(id = ${carrinho.get(i).getId()})}"><button
																			class="swal-button swal-button--danger">Remover</button></a>
																</div>
															</div> 
														</div>
													</div>
												</div>

											</td>
										</tr>
										<tr>
											<td colspan="2"
												class="text-left pd-c-cart-list-footer-continuarComprando">
												<span class="pd-c-cart-list-footer-continuarComprando"></span>
												<a th:href="@{/cardapio}"><i class="fas fa-arrow-left"></i>
													Continuar comprando</a>
											</td>
											<td colspan="2" class="text-right"><span>Subtotal</span>
												<span th:text="${'R$ ' + subTotal}"></span></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
							<button type="submit"
								style="font-size: 16px; margin-top: 15px; margin-left: 450px;"
								data-toggle="modal" data-target="#modalConfirmaPedido">Confirmar
								pedido</button>
							<!-- Modal 3 -->
							<div class="modal fade" id="modalConfirmaPedido" tabindex="-1"
								role="dialog" aria-labelledby="modalConfirmaPedidoTitulo"
								aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="modalConfirmaPedidoTitulo">
												Você precisa está logado para fazer o pedido!</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body"></div>
										<div class="modal-footer"></div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</section>
			</div>
		</div>
	</section>

	<footer class="rodape">
		<ul>
			<li><i class="rodape-item-1 fab fa-whatsapp"></i> (88)
				9.9287-1532 <i class="rodape-item-2 fas fa-calendar-day"></i>
				Fundado em: Abril de 2008. <i
				class="rodape-item-3 fas fa-map-marker-alt"></i> Universidade
				Federal do Ceará.</li>
			<li><i class="rodape-item-1 fas fa-file-code"></i> Powered by:
				Bárbara Stéph. Neves.</li>
			<li class="rodape-content"><i class="rodape-content"></i>2019 ©
				Todos os direitos reservados.</li>
		</ul>
	</footer>

</body>
</html>