<!DOCTYPE html>
<html lang="pt-br"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>MANTIS | CULINÁRIA CHINESA</title>

<link rel="icon" href="/imagens/icon.png" type="image/x-icon" />
<link rel="shortcut icon" href="/imagens/icon.png" type="image/x-icon" />

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/style.css">

<link href="https://fonts.googleapis.com/css?family=Varela+Round"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="navebar">
		<div class="navebar-header">
			<a th:href="@{/cardapio}"><i class="fas fa-utensils"></i>
				Cardápio</a> <a th:href="@{/sobre}"><i class="fas fa-store"></i>
				Sobre</a> <a th:href="@{/contato}"><i class="fa fa-envelope"></i>
				Contato</a> <a th:href="@{/home}" title="Início"><img src="/imagens/logo.png" alt
				class="logo-mobile"></a> <a href="#"><i class="far fa-clock" title="Todos os dias das 11 às 15h e 18 às 23h"></i>
				<span>Aberto até às 23h</span></a> <a th:href="@{/entrar}"><i
				class="fas fa-sign-out-alt"></i> Entrar</a>
		</div>
	</div>

	<section class="section-pagina">
		<div class="section-pagina-header">
			<div class="section-container"></div>
		</div>

		<div class="section-pagina-content">
			<div class="section-container">
				<section class="pd-c-cart">
					<div class="pd-c-cart-empty pd-c-cart-empty--show">
						<h1 class="pd-title pd-title--center pd-title--h3">
							Seu e-mail ou senha<br>estão incorretos!<br>
							<i class="fas fa-skull-crossbones"></i>
						</h1>
						<br>
						<a th:href="@{/entrar}" class="pd-c-cart-empty-btn"><i
				class="fas fa-sign-out-alt"></i> Entrar</a>
						<form>
							<div class="form-box">
								<div class="signin">
									<p>
										Não possui uma conta? <br> <a th:href="@{/cadastrar}">Faça
											seu cadastro</a>.
									</p>
								</div>
							</div>
						</form>

					</div>
				</section>
			</div>
		</div>
	</section>

	<footer class="rodape">
		<ul>
			<li><i class="rodape-item-1 fab fa-whatsapp"></i> (88)
				9.9287-1532 <i class="rodape-item-2 fas fa-calendar-day"></i>
				Fundado em: Abril de 2008. <i
				class="rodape-item-3 fas fa-map-marker-alt"></i> Universidade
				Federal do Ceará.</li>
			<li><i class="rodape-item-1 fas fa-file-code"></i> Powered by:
				Bárbara Stéph. Neves.</li>
			<li class="rodape-content"><i class="rodape-content"></i>2019 ©
				Todos os direitos reservados.</li>
		</ul>
	</footer>

</body>
</html>