<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>MANTIS | CULINÁRIA CHINESA</title>

<link rel="icon" href="/imagens/icon.png" type="image/x-icon" />
<link rel="shortcut icon" href="/imagens/icon.png" type="image/x-icon" />

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/style.css">

<link href="https://fonts.googleapis.com/css?family=Varela+Round"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body th:object="${pessoa}">

	<div class="navebar">
		<div class="navebar-header">
			<a th:href="@{/cardapio}"><i class="fas fa-utensils"></i>
				Cardápio</a> <a th:href="@{/sobre}"><i class="fas fa-store"></i>
				Sobre</a> <a th:href="@{/contato}"><i class="fa fa-envelope"></i>
				Contato</a> <a th:href="@{/home}"><img src="/imagens/logo.png" alt
				class="logo-mobile"></a> <a href="#"><i class="far fa-clock"></i>
				<span>Aberto até às 23h</span></a> <a class="nav-link dropdown"
				data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
				aria-expanded="false"><i class="fa fa-fw fa-user"></i> Perfil</a>
			<div class="dropdown-menu" style="width: 15%; position: relative;">
				<a class="dropdown-item"
					style="text-transform: none; font-size: 14px; margin: 0; color: #333; cursor: pointer;"
					th:href="@{/meus-dados/pedidos}"><i class="fas fa-receipt"></i>
					Meus pedidos</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item"
					style="text-transform: none; font-size: 14px; margin: 0; color: #333; cursor: pointer;"
					th:href="@{/meus-dados/editar/{id}}"><i
					class="fas fa-cog"></i> Editar meus dados</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item"
					style="text-transform: none; font-size: 14px; margin: 0; color: #333; cursor: pointer;"
					th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Sair</a>
			</div>
			<a th:href="@{/carrinho}" class="carrinho"> <i
				class="fas fa-shopping-cart"></i> <span
				class="pd-header-nav-miniCart-count" th:text="${qtdItens}"></span>
			</a>
		</div>
	</div>

	<section class="section-pagina">
		<div class="section-pagina-header">
			<div class="section-container">
				<h1
					class="pd-title pd-title--center pd-title--h3 pd-title-background">Meu
					Pedido</h1>
			</div>
		</div>

		<div class="section-pagina-content">
			<div class="section-container">
				<section class="pd-c-cart">
					<div class="pd-c-cart-empty pd-c-cart-empty--show">
						<h1 class="pd-title pd-title--center pd-title--h3">
							Pedido feito<br>com sucesso!<br>
							<i class="far fa-grin-hearts"></i>
						</h1>
						<br> <a href="/cardapio" class="pd-c-cart-empty-btn"><i
							class="fas fa-angle-double-left"></i> Comprar mais</a> <br><br> <a
							href="/meus-dados/pedidos" class="pd-c-cart-empty-btn">Meus pedidos <i
							class="fas fa-angle-double-right"></i></a>
					</div>
				</section>
			</div>
		</div>
	</section>

	<footer class="rodape">
		<ul>
			<li><i class="rodape-item-1 fab fa-whatsapp"></i> (88)
				9.9287-1532 <i class="rodape-item-2 fas fa-calendar-day"></i>
				Fundado em: Abril de 2008. <i
				class="rodape-item-3 fas fa-map-marker-alt"></i> Universidade
				Federal do Ceará.</li>
			<li><i class="rodape-item-1 fas fa-file-code"></i> Powered by:
				Bárbara Stéph. Neves.</li>
			<li class="rodape-content"><i class="rodape-content"></i>2019 ©
				Todos os direitos reservados.</li>
		</ul>
	</footer>
</body>
</html>